node_modules/
.env
dist/
build/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads (não enviar arquivos de usuários, só manter estrutura)
uploads/avatars/*.jpg
uploads/avatars/*.jpeg
uploads/avatars/*.png
uploads/avatars/*.gif
uploads/avatars/*.webp
!uploads/avatars/.gitkeep
