/*
  Adiciona a imagem de background da tela de login
*/
body.login-bg {
  background: url('../login-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

body.login-bg::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  /* escurece a imagem para melhor contraste */
  z-index: 0;
}

.login-container {
  position: relative;
  z-index: 1;
}